<div class="col-3 bg-dark text-light" style="display: inline-block; width: 200px; background-color: #444; color: #fff; height: 100vh; border-radius: 10px; padding: 10px 0 0 10px">
  <div class="col-3 bg-dark text-light">
    <h3>My Sidebar</h3>
    <ul class="nav flex-column" style="list-style: none">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todo:index' %}" style="text-decoration: none; color: #fff">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="text-decoration: none; color: #fff">Tasks</a>
      </li>
    </ul>
  </div>
</div>
