{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
  <div>
  <h3>Add new task here:</h3>
    <button class="btn btn-primary"><a href="{% url 'todo:task-create' %}" style="color: #fff; text-decoration: none">Add new task</a></button>
    <hr>
  </div>
  {% for task in task_list %}
    <div>
      <form action="{% url 'todo:task-status-update' task_id=task.id %}" method="GET" style="float: right">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
            {% if task.is_done %}
                Undo
            {% else %}
                Complete
            {% endif %}
        </button>
        </form>
      <h3>{{ task.content }}{% if task.is_done %} <span style="color: #006b1b">Done</span>{% else %} <span style="color: red">Not done</span>{% endif %}</h3>
      <p>Created: {{ task.datetime }}</p>
      {% if task.deadline %}<p>Deadline: {{ task.deadline }}</p>{% endif %}
      Tags: {% for task in task.tags.all %}{{ task  }}{% empty %} No tags{% endfor %}
    <ul style="display: flex; list-style: none; margin: 0; padding: 0">
      <li style="margin-right: 10px"><button class="btn btn-success"><a href="{% url 'todo:task-update' task.id %}" style="color: #fff">Update</a></button></li>
      <li><button class="btn btn-danger"><a href="{% url 'todo:task-delete' task.id %}" style="color: #fff">Delete</a></button></li>
    </ul>
    <hr>
    </div>
    {% empty %}
    <h1>No tasks yet</h1>
  {% endfor %}
{% endblock %}
