{% extends "base.html" %}


{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block title %}{{ object|yesno:"Update,Create" }} task{% endblock %}

<div style="margin-right: 60px; padding: 25px">
<h2>{{ object|yesno:"Update the,Create a" }} task</h2>
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
</div>
